
body {
    font-family: $font__main;
    font-size: 14px;
    line-height: 1.4;
    color: $color__text-main;
    background-color: $color__background-body;

    @include breakpoint(md) {
        font-size: 16px;
    }
}

html {
    font-size: 100%;
    
    @media screen and (prefers-reduced-motion: no-preference) {
	  scroll-behavior: smooth;
    }

}


a {
    color:  $color__link;
    text-decoration: none;
    border-bottom: 2px solid $color__text-main;

    &:hover {
        border-bottom-color: $color__secondary;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__headings;
}

h1 {
    a {
        border-bottom: none;
    }

    &.entry-title,
    &.page-title,
    &.site-title {
        margin-top: 0
    }
}

.screen-reader-text {
    @include visually-hidden;
}

.hidden {
    display: none;
}

