.page-contribute {
    .entry-content {
        > p {
            &:first-of-type {
                font-size: $font__size-md;
            }
        }
    }

    article {
        padding: 0 1rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
    }

    @include breakpoint(lg) {
        article {
            padding: 0;
            max-width: $site__width_lg;
        }
    }
}